<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets"
    xmlns:gap = "http://phonegap.com/ns/1.0"
    id        = "fr.dawan.testsdawan"
    versionCode="3"
    version   = "0.2.0">
	<!-- see https://build.phonegap.com/docs/config-xml -->
    <name>testsdawan</name>

    <description>
        Les tests pour formation Dawan (change this : config.xml)
        Do not use this, this is useless !
    </description>

    <author href="https://dawan.fr">
		dawancom, mic
    </author>

	<preference name="orientation" value="landscape" />
	<preference name="fullscreen" value="true" />
    
    <!-- ANDROID spec -->
    <preference name="android-minSdkVersion" value="9" />
	<preference name="splash-screen-duration" value="10000" />
	<preference name="phonegap-version" value="3.5.0" />
	
	<gap:plugin name="com.badrit.macaddress" />
	<gap:plugin name="com.ankamagames.plugins.sysinfo" />
</widget>